.card {
    width: 45ch;
    height: 60ch;
    background: grey;
    border-radius: 5px;
    background-image: url(../../Images//60751952_2346240132104460_6796298400275890176_n.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
    float: left;
  
  }
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }

  .About {
      background: rgb(49, 49, 49);
      background: url(../../Images/x.png);
      background-size: cover;
      z-index: -1;
      width: 100%;
      height: 650px;
      padding: 8%;     
  }

  .AboutContent h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 39px;
  }
  
  .AboutContent  {
    float: left;
    padding-left: 55px;
    width: 60%;
    position: relative;
    color: rgb(175, 175, 175);
  }

  .AboutContent p {
    font-size: 18px;
  }

  @media only screen and (max-width: 1057px){
    .AboutContent  {
      float: left;
      padding-left: 50px;
      width: 50%;
      color: rgb(175, 175, 175);
    }
    .AboutContent h1 {
      font-size: 25px;
    }
  }
  
  @media (max-width: 850px){
    .AboutContent  {
      float: left;
      padding-left: 50px;
      color: rgb(175, 175, 175);
    }
    .AboutContent h1 {
      font-size: 25px;
    }
    .AboutContent p {
      font-size: 15px;
    }
    .card {
      width: 40ch;
      height: 60ch;
    }
  }

  @media (max-width: 757px){
    .card {
      width: 35ch;
      height: 60ch;
    }
  }

  @media (max-width: 657px){
    .card {
      width: 35ch;
      height: 40ch;
      margin-left: 130px;
    }
    .About {
      height: 750px; 
  }
  .AboutContent {
    padding: 0%; 
    float: left;
    width: 100%;
    margin-top: 25px;
  }
}  


@media (max-width: 560px){
  .card {
    width: 35ch;
    height: 40ch;
    margin-left: 80px;
  }
  .About {
    height: 750px;  
}
  .AboutContent {
    padding: 0%; 
    float: left;
    width: 100%;
    margin-top: 25px;
  }
}

@media (max-width: 494px){
  .card {
    width: 35ch;
    height: 40ch;
    margin-left: 50px;
  }
  .About {
    height: 800px;
}
  .AboutContent {
    padding: 0%;
    float: left;
    width: 100%;
    margin-top: 25px;
  }
}

@media (max-width: 420px){
  .card {
    width: 35ch;
    height: 40ch;
    margin-left: 20px;
  }
}

@media (max-width: 387px){
  .card {
    width: 35ch;
    height: 40ch;
    margin-left: 15px;
  }
}

@media (max-width: 370px){
  .card {
    width: 35ch;
    height: 40ch;
    margin-left: 15px;
  }
  .About {
      height: 885px;  
  }
}