.Footer {
    background: #1d1d1d;
    color: rgb(151, 151, 151);
    bottom: 0;
    position: relative;
    width: 100%;
    height: 350px;
}


.Footer-down {
    background: #0f0f0f;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    color: rgb(151, 151, 151);
}

.Copyright {
    padding-top: 18px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 14px;
}

.FooterContent {
    padding: 50px 10% 50px 10%;
    height: 65%;
}

.Footer-Details h1 {
    color: rgb(151, 151, 151);
}

.Footer-ContactInformation h1 {

    color: rgb(151, 151, 151);
}

.Footer-Details {
    float: left;
    width: 50%;
    font-size: 15px;
}

.Footer-ContactInformation {
    padding-right: 10%;
    float: right;
}

.SocialMedia {
    padding-left: 20%;

}

.SocialMedia ul {
    display: flex;
}

.SocialMedia ul li {
    font-size: 25px;
    list-style: none;
    margin-right: 15px;
    color: gray;
}


@media only screen and (max-width: 1198px) {
    
    
    .Footer-Details {
        width: 40%;
        font-size: 15px;
    }

    
    
}

@media (max-width: 932px ){
    
    .Footer {
        height: 60vw;
    }


    .Footer-Details {
        width: 90%;
        font-size: 15px;
    }

    .Footer-ContactInformation {
        float: left;
    }
    .SocialMedia {
        float: left;
        padding-top: 1%;
        padding-right: 10%;
        padding-left: 4%;
    }
    
}

@media (max-width: 778px ){
    
    .Footer {
        height: 65vw;
    }


    .Footer-Details {
        width: 90%;
        font-size: 15px;
    }

    .Footer-ContactInformation {
        float: left;
    }
    .SocialMedia {
        float: left;
        padding-top: 1%;
        padding-right: 10%;
        padding-left: 4%;
    }
    
}


@media (max-width: 722px ){
    
    .Footer {
        height: 65vw;
    }
    .SocialMedia {
        padding-left: 3%;
    }
    
}

@media (max-width: 700px ){
    
    .Footer {
        height: 70vw;
    }
    .SocialMedia {
        padding-left: 2%;
    }
    
}

@media (max-width: 650px ){
    
    .Footer {
        height: 80vw;
    }
    .SocialMedia {
        padding-left: 2%;
    }
    
}

@media (max-width: 580px ){
    
    .FooterContent {
        padding: 20px 10% 50px 10%;
        height: 65%;
    }

    .Footer {
        height: 85vw;
    }

    .SocialMedia {
        padding-left: 2%;
    }
    
}

@media (max-width: 530px ){
    
    .FooterContent {
        padding: 20px 10% 50px 10%;
        height: auto;
    }

    .Footer {
        height: 90vw;
    }

    .SocialMedia {
        padding-left: 2%;
    }
    
}



@media (max-width: 530px ){
    
    .Footer {
        height: 90vw;
    
    }

    .SocialMedia {
        padding-left: 5%;
    }

}



@media (max-width: 498px ){
    
    .Footer {
        height: 100vw;
    }

    .SocialMedia {
        padding-left: 5%;
    }

}


@media (max-width: 470px ){
    
    .Footer {
        height: 105vw;
        width: 100%;
    }

    .Copyright {
        padding-top: 18px;
        padding-left: 80px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-left: 8%;
    }

}

@media (max-width: 440px ){
    
    .Footer {
        padding: 0;
        height: 110vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 60px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-left: 6%;
    }

}

@media (max-width: 415px ){
    
    .Footer {
        padding: 0;
        height: 120vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 50px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-left: 4%;
    }

}


@media (max-width: 400px ){
    
    .Footer {
        padding: 0;
        height: 125vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 40px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-left: 3%;
    }

}


@media (max-width: 380px ){
    
    .Footer {
        padding: 0;
        height: 130vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 40px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-top:  0;
        padding-left: 3%;
    }

}

@media (max-width: 366px ){
    
    .Footer {
        padding: 0;
        height: 150vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-top:  0;
        padding-left: 1%;
    }

}

@media (max-width: 340px ){
    
    .Footer {
        padding: 0;
        height: 155vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 10px;
        font-weight: bold;
        font-size: 14px;
    }

    .SocialMedia {
        padding-top:  0;
        padding-left: 0%;
        padding-right: 0;
    }

}


@media (max-width: 320px ){
    
    .Footer {
        padding: 0;
        height: 175vw;
        width: 100%;
    }

    .FooterContent {
        width: 100%;
    }

    .Copyright {
        padding-top: 10px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 12px;
    }

    .SocialMedia {
        padding-top:  0;
        padding-left: 0%;
    }

  
}