.Experience {
  padding: 50px 13vw 50px 13vw;
  height: 120vh;
  position: relative;
}

.Exp-Education h1 {
    font-weight: bold;
    color: steelblue;
}

.Stratpoint {
    font-weight: bold;
}

.Stratpoint h1, h2 {
    color: steelblue;
    font-weight: bold;
}

.Stratpoint-logo {
    float: right;
    position: relative;
}

.Stratpoint-Content {
    float: left;
    margin-bottom: 50px;
}



.SilverFinance {
    font-weight: bold;
    display: inline-block;
}

.SilverFinance-Logo {
    float: left;
}

.SilverFinance-Content {
    padding-left: 5vw;
    float: right;
}
.SilverFinance-Content h1, h2 {
    color: steelblue;
    font-weight: bold;
}

.SilverFinance-Content h1, h2 {
    font-weight: bold;
}




@media only screen and (max-width: 1265px) {
    .SilverFinance-Content {
        padding: 0;
        width: 60%;
    }
    .Stratpoint-Content {
        float: left;
        width: 70%;
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 1196px) {
    .Stratpoint-Content {
        float: left;
        width: 70%;
        margin-bottom: 50px;
    }
}



@media only screen and (max-width: 1174px) {
    .SilverFinance-Content {
        width: 70%;
    }
    .Experience {
        padding: 50px 10vw 50px 10vw;
        height: auto;
      }
}

@media only screen and (max-width: 1046px) {
    .Experience {
        padding: 50px 10vw 50px 10vw;
        height: auto;
      }
    .SilverFinance-Content {
        padding: 0;
        width: 60%;
    }
}


@media only screen and (max-width: 1002px) {
    .Experience {
        padding: 50px 10vw 50px 10vw;
        height: auto;
      }
      .Stratpoint-Content {
        width: 50%;
        margin-bottom: 50px;
    }
    .SilverFinance-Content {
        padding: 0;
        width: 50%;
    }
   
}

@media only screen and (max-width: 743px) {
    .Experience {
        padding: 50px 10vw 50px 10vw;
        height: auto;
      }
    
    .Stratpoint-logo {
        padding-right: 20vw;
    }

    .Stratpoint-Content {
        padding:0;
        width: 100%;
    }


    .SilverFinance-Logo {
        padding-left: 20vw;
    }

    .SilverFinance-Content {
        padding:0;
        width: 100%;
    }

   
   
}


@media only screen and (max-width: 515px) {
    .Experience {
        padding: 50px 5vw 50px 5vw;
        height: auto;
      }
    
    .Stratpoint-logo {
        padding-right: 10vw;
    }

    .Stratpoint-Content h1 {
        font-size: 20px;
    }

    .Stratpoint-Content h2 {
        font-size: 15px;
    }


    .SilverFinance-Logo {
        padding-left: 3vw;
        padding-bottom: 14px;
    }

    .SilverFinance-Content h1 {
        font-size: 20px;
    }

    .SilverFinance-Content h2 {
        font-size: 15px;
    }
   
}


@media only screen and (max-width: 461px) {
    .Experience {
        padding: 50px 5% 50px 5%;
        height: auto;
    }
    
    .Exp-Education h1 { 
        font-size: 23px;
    }

    .SilverFinance-Logo {
        padding-left: 10%;
    }
}
